@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Oswald", Arial, "sans-serif";
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: white;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}
header {
  background-image: url("../public/image/5fc3e79b67ddf371886098.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 0 -85px;
  position: relative;
}

#logo {
  background-image: url("../public/image/Logo2.png");
  background-size: cover;
  height: 125px;
  width: 260px;

  padding: 20px 20px;
  display: block;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 22px;
}
.navbar li.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li:first-child {
  margin-right: auto;
  margin-left: 15px;
}
.navbar li a.nav-item {
  min-width: 120px;
  padding: 9px 30px;
  margin-top: 60px;
  transition: all 200ms;
  text-align: center;
}
.navbar li.nav-menu-icon {
  display: none;
}
.navbar li a.nav-item:hover {
  background-color: rgba(219, 224, 148, 0.8);
  color: black;
  border-radius: 7px;
}
.navbar li a svg {
  margin-left: 7px;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 70%;
  font-size: 60px;
  color: aliceblue;
  padding: 0 280px;
  margin-top: 250px;
}

main h3 {
  font-size: 60px;
  text-align: center;
  font-family: "Yeseva One", Arial, sans-serif;
}
main p {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 20px;
}
section {
  padding-top: 30px;
}
.discover {
  background-image: url("../public/image/pattern4.jpg");
  padding-bottom: 20px;
}
.discover h4 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 50px;
}
.discover .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
}

.discover .cards .card-item {
  height: 300px;
  width: 300px;
  border: 1px solid #928f8f;
  border-radius: 10px;
  transition: all 200ms;
}
.discover .cards .card-item:hover {
  box-shadow: 10px 10px 50px;
}
.discover .cards .card-item img {
  height: 230px;
  width: 300px;
  border-radius: 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 20px;
}
.discover .cards .card-item h5 {
  font-size: 32px;
  text-align: center;
  color: black;
}
.weekly-deals {
  background-image: url("../public/image/pattern2.jpg");
  color: white;
}
.weekly-deals h5,
.weekly-deals p {
  margin-top: 20px;
}

.weekly-deals .image-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.weekly-deals .image-tab img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}
.weekly-deals .short-menu {
  text-align: center;
  font-size: 32px;
  max-height: 600px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.weekly-deals h3 {
  padding-top: 20px;
}
.weekly-deals .short-menu .menu-content {
  margin: 20px 150px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: Graduate, Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

.weekly-deals .short-menu .menu-content .menu-item h5 {
  font-size: 24px;
  text-align: start;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 3px solid white;
  border-style: dashed;
  padding-bottom: 10px;
}
.weekly-deals .short-menu .menu-content .menu-item p {
  font-size: 18px;
  text-align: start;
  color: #918f8f;
  line-height: 1.5rem;
  margin-bottom: 0;
}
.weekly-deals .short-menu a {
  text-transform: uppercase;
  color: white;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 7px;
  transition: all 200ms;
}
.weekly-deals .short-menu a:hover {
  background-color: #918f8f;
  color: #272626;
}
footer .subcription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-image: url("../public/image/pattern3.jpg");
}
footer .subcription h3 {
  font-size: 30px;
  padding: 20px 0;
  font-weight: 500;
}
footer .subcription input {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  border: 3px solid rgb(69, 80, 68);
  transition: all 200ms;
}

footer .subcription a {
  padding: 11px 15px;
  background-color: rgb(69, 80, 68);
  transition: all 200ms;
}
footer .subcription a:hover {
  background-color: #4d4a4a;
}
footer .subcription input:hover {
  border: 3px solid #696565;
}
footer .contact {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/image/pattern5.jpg");
}
footer .contact .logo {
  height: 150px;
  width: 300px;
  background-image: url("../public/image/Logo2.png");
  background-size: cover;
  margin: 20px auto 0;
}
footer .contact .logo a {
  height: 150px;
  width: 300px;
  display: inline-block;
}
footer .social-media {
  margin-top: 50px;
}
footer .social-media a {
  display: inline-block;
  color: rgb(177, 167, 167);
  font-size: 32px;
  margin-right: 20px;
  transition: all 200ms;
}
footer .social-media a:hover {
  color: white;
}
@media (max-width: 1031px) {
  .navbar {
    flex-direction: column;
  }
  .navbar li:not(:first-child) {
    display: none;
  }

  .navbar li.nav-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 60px;
    font-size: 48px;
    cursor: pointer;
  }
  .navigation {
    text-align: center;
    font-size: 32px;
    padding: 20px;
    margin: 0 60px;
    background-color: rgba(236, 131, 71, 0.486);
    border-radius: 7px;
  }
  header .welcome {
    font-size: 40px;
    padding: 0 100px;
    margin-top: 90px;
  }
  .weekly-deals .short-menu .menu-content {
    display: block;
    margin: 20px 15px 0;
  }
  .weekly-deals .short-menu {
    max-height: 1200px;
  }
  footer .subcription {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (max-width: 1031px) {
  .navbar {
    display: block;
  }
  .navbar li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
